<h2 class="text-2xl mb-4">Novo Hábito</h2>

<%= form_with model: @habit, local: true do |form| %>
  <div class="mb-2">
    <%= form.label :name, "Nome do Hábito", class: "block" %>
    <%= form.text_field :name, class: "border p-2 w-full" %>
  </div>
  <div class="mb-2">
    <%= form.label :user, "Usuário", class: "block" %>
    <%= form.text_field :user, class: "border p-2 w-full" %>
  </div>
  <%= form.submit "Criar", class: "bg-blue-500 text-white px-4 py-2 rounded" %>
<% end %>

<%= link_to "Voltar", habits_path, class: "text-blue-500 mt-4 inline-block" %>
